{% extends "_base2.html" %} 
{% block app_content %}


<div class="py-5 section-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-4">
                <h1 class="text-dark">What dya wanna do mate ?!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-group">
                    <li>NOTHING</li>
                </ul>
            </div>
        </div>
    </div>
</div>





{% endblock %}