{% extends "_base2.html" %}{% import "wtf.html" as wtf %}  {% block app_content %}
<div class="py-5">
    <div class="py-4 container">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Numéro</th>
                    {% for ii in range(1,11) %}
                    <th>Place {{ ii }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for table in tables%}
                <tr>
                    <td>
                        <div class="row">
                            {% if table.nb_places_libre > 0 and current_user.places_prises <10 %}

                            <div class="col-sm-4">
                                <select class="selectpicker" id="{{ table.id }}_nbplaces">
                                    {% for i in range(1,table.places_to_take) %}
                                    <option>{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <a class="btn btn-link" role="button" data-id={{ table.id }} cuser={{ current_user.id }} onclick="AddPlace(this)">
                                    <i class="fas fa-plus text-primary"></i>
                                </a>
                            </div>

                            {% endif %} {% if table.user_is_in_table %}
                            <div class="col-sm-4">
                                <a class="btn btn-link" role="button" data-id={{ table.id }} cuser={{ current_user.id }} onclick="RmPlace(this)">
                                    <i class="fas fa-minus text-primary"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </td>
                    <td>{{ table.id }}</td>
                    <td>{{ table.place1 }}</td>
                    <td>{{ table.place2 }}</td>
                    <td>{{ table.place3 }}</td>
                    <td>{{ table.place4 }}</td>
                    <td>{{ table.place5 }}</td>
                    <td>{{ table.place6 }}</td>
                    <td>{{ table.place7 }}</td>
                    <td>{{ table.place8 }}</td>
                    <td>{{ table.place9 }}</td>
                    <td>{{ table.place10 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 

        <a name="" id="" class="btn btn-primary" href="/add-table" role="button"><i class="fas fa-plus"></i> Prendre une nouvelle table</a>
    </div>

</div>
<script>

        function AddPlace(elem) {
            localStorage.setItem('addId', $(elem).attr('data-id'));
            localStorage.setItem('userId', $(elem).attr('cuser'));
            
            var tableid = localStorage.getItem('addId');
            var e = document.getElementById(tableid + "_nbplaces");
            var nbPlace = e.options[e.selectedIndex].value;
            localStorage.setItem('nbPlaces', nbPlace);
            
            $.ajax({
                url: '/addplace/',
                data: {
                    tableid: localStorage.getItem('addId'),
                    userid: localStorage.getItem('userId'),
                    nbPlace: localStorage.getItem('nbPlaces')
                },
                type: 'POST',
                success: function (res) {
                location.reload();  
            }});
        }
        function RmPlace(elem) {
            localStorage.setItem('deleteId', $(elem).attr('data-id'));
            localStorage.setItem('userId', $(elem).attr('cuser'));
            $.ajax({
                url: '/removeplace/',
                data: {
                    tableid: localStorage.getItem('deleteId'),
                    userid: localStorage.getItem('userId')
                },
                type: 'POST',
                success: function (res) {
                location.reload();  
            }});
        }
    
    </script>
{% endblock %}