{% extends "_base2.html" %} {% import "wtf.html" as wtf %} 

{% block app_content %}

<div class="py-5 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-4">
                <h1 class="text-light">La billetterie est ouverte !</h1>
                <p class="text-light text-left">
                    Il y a 2 types de billets :
                    <ul class="text-left">
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
               <!-- iframe billetterie -->
            </div>
        </div>
    </div>
</div>

{% endblock %}