{% extends "_base2.html" %} {% block app_content %}


<!-- Home -->
<div id="home" class="py-4 d-flex justify-content-center bg-light">
  <div class="container">
    <div class="row">
      <div class="col-6 p-3 col-md-12">
        <h1 class="display-1 text-center">Gala Sigma</h1>
        <h4 class="text-center">Samedi 9 Février 2018</h4><img class="img-fluid d-block" src="assets/44823262_312133016279019_5820173576526888960_n.png">
      </div>
    </div>
  </div>
</div>
<div class="py-5 text-center bg-primary" id="about"style="background-image: url('https://static.pingendo.com/cover-bubble-dark.svg');background-size:cover;">
  <div class="container">
    <div class="row">
      <div class="bg-white p-5 mx-auto col-md-8 col-10">
        <h3 class="display-3">A propos du Gala</h3>
        <p class="mb-4">Le Gala, une soirée mémorable lors de laquelle tu pourras passer des moments inoubliables entouré de tes amis et même de ta famille si tu le souhaite. Tu pourras tout d'abord partager un repas délicieux repas composé par notre traiteur et durant lequel nous te proposerons diverses activités pour te divertir. Après cela place à la fête dans une ambiance soirée dansante au sonorités jazzy avant d'accueillir notre DJ maison j'ai nommé l'incontournable Max White!</p>
      </div>
    </div>
  </div>
</div>


<!-- PLanning -->
<div id="planning" class="py-5 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-light">Planning</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header text-center" style="">Le Jour J</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6"></div>
              <div class="col-md-6"></div>
              <div class="col-md-6"></div>
            </div>
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6"></div>
              <div class="col-md-6"></div>
              <div class="col-md-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- TEAM -->
<div id="team" class="py-5" style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, .75), rgba(44, 62, 80, .75)); background-size: 100%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 px-4 px-md-0">
        <div class="row mb-4">
          <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="assets/Clément Prez.jpg" width="100" alt="Card image cap"> </div>
          <div class="col-9">
            <h4> <b>Clément</b></h4>
            <p class="mb-0">Président</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="assets/Colonel Secrétaire (1).jpg" width="100" alt="Card image cap"> </div>
          <div class="col-9">
            <h4> <b>Alexandra</b></h4>
            <p class="mb-0">Secrétaire</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="assets/Max Respo Gastronomie (1).jpg" width="250" alt="Card image cap"> </div>
          <div class="col-9">
            <h4> <b>Maxime</b></h4>
            <p class="mb-0">Responsable Gastronomie</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 px-4 px-md-0">
        <div class="row mb-4">
          <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="assets/MaNON Vice-Prezzzz (1).jpg" width="100" alt="Card image cap"> </div>
          <div class="col-9">
            <h4> <b>Manon</b></h4>
            <p class="mb-0">Vice-Présidente</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="assets/(H2)LO Respo Déco (1).jpg" width="100" alt="Card image cap"> </div>
          <div class="col-9">
            <h4> <b>Laurence</b></h4>
            <p class="mb-0">Responsable décoration</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="assets/Tulipe Respo Gastronomie.jpg" width="100" alt="Card image cap"> </div>
          <div class="col-9">
            <h4> <b>Violette</b></h4>
            <p class="mb-0" style="">Responsable Gastronomie</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 px-4 px-md-0">
        <div class="row mb-4">
          <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="assets/Aurele Trezzzzz (1).jpg" width="100" alt="Card image cap"> </div>
          <div class="col-9">
            <h4> <b>Aurèle</b></h4>
            <p class="mb-0">Trésorier</p>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-3"> <img class="img-fluid d-block mx-auto rounded-circle" src="assets/Lucas Respo SLC (Sécurité, Logistique, Communication mdrr) (1).jpg" width="100" alt="Card image cap"> </div>
          <div class="col-9">
            <h4> <b>Lucas</b></h4>
            <p class="mb-0">Responsable SLC</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- TARIFS -->
<div id="tarifs" class="py-5" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg); background-position: center center, center center;  background-size: 100%, 100%;  background-repeat: repeat, repeat;">
  <div class="container">
    <div class="row">
      <div class="text-center mx-auto col-md-12">
        <h1 class="text-light">Les Tarifs</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 p-3">
        <div class="card text-center text-dark">
          <div class="card-body p-4">
            <h3>Le repas</h3>
            <p class="my-3">Accès à la réception et au repas du Gala</p>
            <h2> <b>99$</b> </h2> <a class="btn btn-primary mt-3" href="#">Buy</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="card text-center text-dark">
          <div class="card-body p-4">
            <h3>La soirée</h3>
            <p class="my-3">Accès à la soirée ayant lieu après le repas</p>
            <h2> <b>899$</b> </h2> <a class="btn btn-primary mt-3" href="#">Buy</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="card text-center text-dark">
          <div class="card-body p-4">
            <h3>Pack All Inclusive</h3>
            <p class="my-3">Entrée complète repas + soirée +&nbsp; tirage bouteille de champagne<br></p>
            <h2> <b>2499$</b> </h2> <a class="btn btn-primary mt-3" href="#">Buy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- TUTOS -->
<div  id="tutos" class="py-5 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center text-light">Choisis ton style</h2>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-6 ">
        <h2 class="text-center text-light">Comment choisir son costume</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/73CNGkGAR7s" allowfullscreen="" class="embed-responsive-item"></iframe>
        </div>
        <h2 class="text-center text-light">Apprends à déguster du vin</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/-0oZLmAyFmM" allowfullscreen="" class="embed-responsive-item"></iframe>
        </div>
        <h2 class="text-center text-light">Apprends a nouer ta cravate</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/L1oMD1Wz63k" allowfullscreen="" class="embed-responsive-item"></iframe>
        </div>
      </div>
      <div class="col-md-6 ">
        <h2 class="text-center text-light">Choisis ta robe de soirée</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/X68lV33Dw3k" allowfullscreen="" class="embed-responsive-item"></iframe>
        </div>
        <h2 class="text-center text-light">Les astuces du sommelier</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/rdq2A7QWuco" allowfullscreen="" class="embed-responsive-item"></iframe>
        </div>
        <h2 class="text-center text-light">Comment déboucher une bouteille</h2>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/KyPaDmniiv8" allowfullscreen="" class="embed-responsive-item"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- PARTENAIRES -->
<div id="partenaires" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Nos Partenaires</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

{% endblock %}