{% extends "_base2.html" %} {% block app_content %}

<!-- Sigma section -->
<div class="my-4 py-5 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="text-uppercase">Mentions légales</h2>

                Nom de l’association : RDD Sigma Clermont
                <br> Adresse :Sigma Clermont,
                <br> Campus des Cézeaux CS20265,
                <br> 63178,
                <br> Aubière, France
                <br> Directeur de la publication (nom du président de l’association) : Léo Veyron
                <br> Hébergeur :
                <br> (Raison sociale)
                <br> (Adresse du siège)
                <br> (Numéro de téléphone)
                <br>
                <br> Crédits photos : Sigma Clermont</div>


            <div class="col-md-5 align-self-center">
                <img class="img-fluid d-block w-100 img-thumbnail" src="static/img/rdd/meca.jpg">
            </div>
        </div>
    </div>
</div>


{% endblock %}