{% extends "_base2.html" %} {% block app_content %}
<div class="py-5">
    <div class="py-4 container">
        <h1>Page non trouvée !</h1>
        <img src="https://media.tenor.com/images/a8ea7539ae02b46103e98170200d3255/tenor.gif" alt="">
        <br/><br/>
        <p>
            <em>Revenir à 
                <a href="{{url_for('main.index')}}">l'accueil</a>?</em>
        </p>
    </div>
</div>

{% endblock %}