<p>Votre compte sur le site <a href="galasigma.fr">Gala Sigma</a> a été créé avec succès. 
<br/>
<br/>Veuillez cliquer sur le lien ci-dessous pour confirmer et activer votre compte:
<br/>
<a href="{{ confirm_url }}">{{ confirm_url }}</a>
<br/><br/>
<br/>-- Questions ? Commentaires ? Email contact@galasigma.fr

</p>