{% extends "_base2.html" %} 
{% import "wtf.html" as wtf %} 
{% block app_content %}

<div class="py-5 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-4">
                <h1 class="text-light">Se connecter</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ wtf.quick_form(form) }}
            </div>
            <div class="row">
                <div class="col-md-12 text-left">
                    Forgot your password ? <a href="{{ url_for('auth.forgotpwd') }}">Click here to reset it.</a>
                    <br>New user ? <a href="{{ url_for('auth.register') }}">Click here to register.</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}