<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="static/css/theme.css">

  {% block title %} 
  {% if title %}
  <title>{{ title }} - Gala Sigma</title>
  {% else %}
  <title>Gala Sigma</title>
  {% endif %} 
  {% endblock %}
</head>

<body>

  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar11">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar11">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item text-light"> <a class="nav-link text-light" href="{{ url_for('main.index') }}">Home</a> </li>
          {% if main_page %}
          <li class="nav-item text-light"> <a class="nav-link text-light" href="#about">A propos</a> </li>
          <li class="nav-item"> <a class="nav-link text-light" href="#planning">Planning</a> </li>
          <li class="nav-item"> <a class="nav-link text-light" href="#team">L'Equipe</a> </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if main_page %}
          <li class="nav-item"> <a class="nav-link text-light" href="#tarifs">Les Tarifs</a> </li>
          <li class="nav-item"> <a class="nav-link text-light" href="#tutos">Tutos</a> </li>
          <li class="nav-item"> <a class="nav-link text-light" href="#partenaires">Nos Partenaires</a> </li>
          {% endif %}
        </ul> 
        {% if current_user.is_anonymous %}
        <a class="btn btn-primary navbar-btn ml-md-2 text-light">Register</a>
        {% endif %}
      </ul>
      </div>
    </div>
  </nav>


  <!-- Flash messages -->
  {% with messages = get_flashed_messages() %} 
  {% if messages %}
  <div class="bg-primary inset-shadowed">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          {% for message in messages %}
          <div class="alert alert-dark" style="margin-top: 5em;" role="alert">
            <p class="mb-0">{{ message}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %} 
  {% endif %} 
  {% endwith %}

  {% block app_content %}
  {% endblock %} 

    
  <!-- Footer -->
  <div class="bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-6">
          <h2 class="mb-4">Gala Sigma</h2>
          <ul class="list-unstyled"> <a href="#" class="text-light">Home</a> <br> <a href="#" class="text-light">About us</a> <br> <a href="#" class="text-light">Our services</a> <br> <a href="#" class="text-light">Stories</a> </ul>
        </div>
        <div class="p-4 col-md-6">
          <h2 class="mb-4">Contact</h2>
          <p> <a href="#" class="text-light">
              <i class="fa d-inline mr-3 text-muted fa-phone"></i>0</a>686491495 : Respo SLC /&nbsp;<br></p>
          <p> <a href="#" class="text-light">
              <i class="fa d-inline mr-3 text-muted fa-envelope-o"></i>info@pingendo.com</a> </p>
          <p> <a href="#" class="text-light">
              <i class="fa d-inline mr-3 fa-map-marker text-muted"></i>2</a>3 rue Roches Genes</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center">© Copyright 2018 Gala Sigma Clermont - All rights reserved. </p>
        </div>
      </div>
    </div>
  </div>
  <script src="static/js/jquery-3.2.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="static/js/bootstrap.min.js"></script>
</body>

</html>