{% extends "_base.html" %} 

{% block app_content %}
<h1>Hi, {{ current_user.email }}!</h1>
<p>
    <br />Bienvenue sur le site de la Remise Des Diplômes de SIGMA Clermont 2017, école née de la fusion entre l’ENSCCF et de l’IFMA.
    <br />
    <br /> Fin 2017, la première promo 100% SIGMA est passée, et après un an de fusion complète, nous nous apprêtons à fêter la
    deuxième remise des diplômes de notre nouvelle école. La cérémonie aura lieu le
    <em>samedi 7 Octobre</em> au
    <em>Polydôme</em> de Clermont-Ferrand.
    <br />
    <br/> Cette année, 275 diplomés recevront leur diplôme d'ingénieur.
    <br />
    <br/> Une cérémonie de prestige sera menée par M. Frédéric Briand, directeur du site SANOFI de Vertolaye et parrain de la
    promotion 2017. Ensuite, un cocktail puis un dîner et une soirée de gala, permettront aux nouveaux ingénieurs de fêter
    leur entrée dans la vie active avec panache.
    <br />
    <br/> Avec un programme d’enseignement défini en partenariat avec la Fondation SIGMA et ses entreprises fondatrices ou associées,
    l’école forme des ingénieurs d’un haut niveau scientifique et technique, conscients de leurs responsabilités vis-à-vis
    de la société, des ingénieurs capables de s’adapter et de développer une expertise technique sur des projets à dimension
    internationale, des ingénieurs où le savoir être complète harmonieusement le savoir et le savoir-faire.
</p>
{% endblock %}